body{
    justify-content: center;
}

#title{
    text-align: center;
}

p{
    font-weight: 700;
    font-size: 30px;
}
#heading{
    text-align: center;
}

h3{
    text-decoration: underline;
    text-align: center;
}
ul{
    text-align: center;
    /* justify-content: center; */
}

#image{
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px 20px;
    border-radius: 20px;
    
}
#fruits{
    display: flex;
}
#fruList{
    display: flex;
    gap: 150px;
    list-style-type: none;
}
#vegList{
    display: flex;
    gap: 150px;
    list-style-type: none;
}